<div class="container">
  <h1>Friendly Chat Application </h1>
  <h2> Sign Up!!
    <a [routerLink]="['/user-create']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
   Login
    <a [routerLink]="['/login']" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    </a>
   
  </h2>
  <!-- <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstName | capitalize}}</td>
        <td>{{ user.lastName | capitalize}}</td>
        <td>{{ user.userName | capitalize}}</td>
        <td><a [routerLink]="['/user-details', user._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table> -->

</div>
